# API
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0

flask_sqlalchemy
sqlalchemy
httpx
pymysql 

opencv-python>=4.5.4.60
typing-extensions
python-multipart
numpy>=1.21.6
# Pillow>=7.1.2
alembic==1.7.3
PyMySQL==1.0.2
python-dotenv==0.19.0
PyYAML==5.4.1
# six==1.16.0
SQLAlchemy==1.4.25
